<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Affordable Housing</title>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

	<script src="https://cesium.com/downloads/cesiumjs/releases/1.63.1/Build/Cesium/Cesium.js"></script>
	<link href="https://cesium.com/downloads/cesiumjs/releases/1.63.1/Build/Cesium/Widgets/widgets.css"
		rel="stylesheet">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/style_arturo.css') }}">
	<script src="{{ url_for('static', filename='js/script.js') }}"></script>
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<style>
		* {
			box-sizing: border-box;
		}

		/* Style inputs */
		input[type=text],
		select,
		textarea {
			width: 100%;
			padding: 12px;
			border: 1px solid #ccc;
			margin-top: 6px;
			margin-bottom: 16px;
			resize: vertical;
		}

		input[type=submit] {
			background-color: #4CAF50;
			color: white;
			padding: 12px 20px;
			border: none;
			cursor: pointer;
		}

		input[type=submit]:hover {
			background-color: #45a049;
		}

		/* Style the container/contact section */
		.container {
			border-radius: 5px;
			background-color: #f2f2f2;
			padding: 10px;
		}

		/* Create two columns that float next to eachother */
		.column {
			float: left;
			width: 50%;
			margin-top: 6px;
			padding: 20px;
		}

		/* Clear floats after the columns */
		.row:after {
			content: "";
			display: table;
			clear: both;
		}

		/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
		@media screen and (max-width: 600px) {

			.column,
			input[type=submit] {
				width: 100%;
				margin-top: 0;
			}
		}
	</style>
</head>

<body>
	<!-- Nav start-->
	<div class="container-fluid">
		<nav class="navbar navbar-expand-lg navbar-light" style="background-color: white;">
			<a class="navbar-brand" href="{{ url_for('index') }}"><img style="width:80px;height:80px;"
					src="{{ url_for('static', filename='images/kissclipart-design-thinking-icon-png-clipart-icon-design-compu-c9a9e17540f61b3a.png') }}"
					alt="thinking icon"></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse navElement" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto btn-style ">
					<li class="nav-item active">
						<a class="nav-link" href="{{ url_for('index') }}">Home <span
								class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('team') }}">About the Team</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Data Stories
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" href="{{ url_for('story1') }}">What's Happening?</a>
							<a class="dropdown-item" href="{{ url_for('story2') }}">Where is it?</a>
							<a class="dropdown-item" href="{{ url_for('story3') }}">Needs vs Subsidies vs Realities</a>
							<a class="dropdown-item" href="{{ url_for('story4') }}">Your Neighborhood</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Building Consulting Services
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" href="{{ url_for('tool') }}">Building Tool</a>
							<a class="dropdown-item" href="{{ url_for('samplesite1') }}">Proposed Building Site 1</a>
							<a class="dropdown-item" href="{{ url_for('samplesite2') }}">Proposed Building Site 2</a>
							<a class="dropdown-item" href="{{ url_for('samplesite3') }}">Proposed Building Site 3</a>
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('about') }}">About AAHA Building Corp</a>
					</li>
				</ul>
				<a class="navbar-brand" href="{{ url_for('index') }}" style="color: #F1C40F ;">AAHA Analytics</a>
			</div>

		</nav>
		<!-- Nav end-->
		<!-- Beginning container-->
		<div class="container-fluid">
			<div class="row">
				<div class="col-12 jumbotron text-center jumbotron-fluid bg-warning">
					<h1>Achieving Affordable Housing in Atlanta</h1>
{#					<p style="color: white;">Use the interactive charts below to explore the dataset</p>#}
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row align-items-center">
				<div class="col-12">
					<h4>About AAHA Building Corp</h4>
				</div>
			</div>
		</div>

		<!-- Narrative layer Begin-->
		<div class="container">
			<div class="row align-items-center">
				<div class="col-12">
					<ul class="list-unstyled">
						<li class="media">
							<img src="https://cdn2.iconfinder.com/data/icons/basic-4/512/home-512.png" class="mr-3"
								alt="..." style="width: 2%; height:2%;">
							<div class="media-body">
								<h5 class="mt-0 mb-1">Our Services</h5>
								<ul>
									<li>Market Research and Insight consulting</li>
									<li>Building Development Resource Planning and Project Menagement</li>
									<li>Residential Development</li>
									<li>Commercial Development</li>
									<li>Area Demographic  Analytics and Housing Policy Review </li>
								</ul>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>



		<!-- Location info layer end-->



		<center>
			<div class="container-fluid">
				<div class="row align-items-center">
					<div class="col-12">
						<div id="valuesArea"
							style="width: 1150px; height:800px; background-color: #d4d4d4; margin: 40px; padding: 30px;">
							<p>

								<div style="text-align:center">
									<h2>Contact Us</h2>
									<p>Swing by for a cup of coffee, or leave us a message:</p>
								</div>
								<div class="row">
									<div class="column">
										<img src="https://freshome.com/wp-content/uploads/2018/09/contemporary-exterior.jpg"
											style="width:80%; height:80%;">
									</div>
									<div class="column">
										<form action="/action_page.php">
											<label for="fname">First Name</label>
											<input type="text" id="fname" name="firstname" placeholder="Your name..">
											<label for="lname">Last Name</label>
											<input type="text" id="lname" name="lastname"
												placeholder="Your last name..">
											<label for="country">Country</label>
											<select id="country" name="country">
												<option value="australia">Australia</option>
												<option value="canada">Canada</option>
												<option value="usa">USA</option>
											</select>
											<label for="subject">Subject</label>
											<textarea id="subject" name="subject" placeholder="Write something.."
												style="height:170px"></textarea>
											<input type="submit" value="Submit">
										</form>
									</div>
								</div>

							</p>
						</div>
					</div>
				</div>
			</div>
		</center>

		<!-- Footer container-->
		<div class="container-fluid bottomFooter" style="background-color: #f2f2f2; height: 100px; padding: 20px;">
			<div class="row infoarea" >
				<div class="col-6" >
					<span style="color: #2874A6 ;">Copyright Info © 2019 AAHA Analytics Firm</span>
				</div>
				<div class="col-6">
					<span style="color: #2874A6 ;">Media:</span> <br>
					<a class="social" href="#" style="color: #F1C40F;">@Facebook</a>
					<a class="social" href="#" style="color: #F1C40F;">@GitHub</a>
					<a class="social" href="#" style="color: #F1C40F;">@Twitter</a>
				</div>
			</div>

		</div>
		<!-- Footer end-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
		<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
		<script src="{{ url_for('static', filename='js/bonus.js') }}"></script>
		<script src="{{ url_for('static', filename='js/app.js') }}"></script>



		<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.12.0/d3.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
			crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
			integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
			crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
			integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
			crossorigin="anonymous"></script>
</body>

</html>