<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Affordable Housing</title>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		


		
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_arturo.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

		


</head>

<body>
   <!-- Nav start-->
   <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-light" style="background-color: white;">
              <a class="navbar-brand" href="{{ url_for('index') }}"><img style="width:80px;height:80px;" src="{{ url_for('static', filename='images/kissclipart-design-thinking-icon-png-clipart-icon-design-compu-c9a9e17540f61b3a.png') }}" alt="thinking icon"></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            
              <div class="collapse navbar-collapse navElement" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto btn-style ">
                  <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('team') }}">About the Team</a>
                  </li>
                  <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Data Stories
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                              <a class="dropdown-item" href="{{ url_for('story1') }}">What's Happening?</a>
                              <a class="dropdown-item" href="{{ url_for('story2') }}">Where is it?</a>
                              <a class="dropdown-item" href="{{ url_for('story3') }}">Needs vs Subsidies vs Realities</a>
                          </div>
                  </li>
                </ul>
                <a class="navbar-brand" href="{{ url_for('index') }}" style="color: #F1C40F ;">AAHA Analytics</a>
              </div>
              
            </nav>
            <!-- Nav end-->
            <!-- Beginning container-->
            <div class="container-fluid">
              <div class="row">
                <div class="col-12 jumbotron text-center jumbotron-fluid bg-warning">
                  <h1>Achieving Affordable Housing in Atlanta</h1>
                  <p style="color: white;">Use the interactive charts below to explore the dataset</p>
                </div>
              </div>
            </div>

                            </div>
                    

                <div class="container">
                  <div class="row">
                      <div class="col-12">    
<div class="card-deck">
  <div class="card">
    <a href="{{ url_for('story1') }}"><img  src="{{ url_for('static', filename='images/story1.png') }}" class="card-img-top" alt="..."></a>
    <div class="card-body">
      <h5 class="card-title">What's Happening?</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

    </div>
  </div>
  <div class="card">
    <a href="{{ url_for('story2') }}"><img  src="{{ url_for('static', filename='images/story2.png') }}" class="card-img-top" alt="..."></a>
    <div class="card-body">
      <h5 class="card-title">Where is it?</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>

    </div>
  </div>
  <div class="card">
    <a href="{{ url_for('story3') }}"><img  src="{{ url_for('static', filename='images/story3.png') }}" class="card-img-top" alt="..."></a>
    <div class="card-body">
      <h5 class="card-title">Needs vs Subsidies vs Realities</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>

    </div>
  </div>
</div>
    </div>
  </div>
</div>
            
   <!-- end container-->
              <!-- Footer container-->
                  <div class="container-fluid bottomFooter">
                    <div class="row ">
                      <div class="col-6">
                          <span style="color: #2874A6 ;">Copyright Info © 2019 AAHA Analytics Firm</span>  
                      </div>
                      <div class="col-6">
                          <span style="color: #2874A6 ;">Media:</span>  <br>
                          <a href="#" style="color: #F1C40F ;">@Facebook</a><br>
                          <a href="#" style="color: #F1C40F ;">@GitHub</a><br>
                          <a href="#" style="color: #F1C40F ;">@Twitter</a>
                      </div>
                    </div>
                    
  </div>   
  
                <!-- Footer end-->
  <!-- <script src="https://cdn.plot.ly/plotly-1.31.2.min.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="{{ url_for('static', filename='js/bonus.js') }}"></script>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>



  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.12.0/d3.min.js"></script>       
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>   
</body>

</html>
