<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Affordable Housing</title>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		
    <!-- Leaflet CSS & JS-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
    integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
    integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
    crossorigin=""></script>
	
	<!-- d3 JavaScript -->
    <script src="https://d3js.org/d3.v4.min.js"></script>

    <!-- Leaflet-Choropleth JavaScript -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/choropleth.js') }}"></script>

		
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_arturo.css') }}">
    <!--<script src="{{ url_for('static', filename='js/script.js') }}"></script>-->

    		    <!-- Our CSS -->
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_map.css') }}">

            <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">




</head>

<body>
   <!-- Nav start-->
   <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-light" style="background-color: white;">
              <a class="navbar-brand" href="{{ url_for('index') }}"><img style="width:80px;height:80px;" src="{{ url_for('static', filename='images/kissclipart-design-thinking-icon-png-clipart-icon-design-compu-c9a9e17540f61b3a.png') }}" alt="thinking icon"></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            
              <div class="collapse navbar-collapse navElement" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto btn-style ">
                  <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('team') }}">About the Team</a>
                  </li>
                  <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Data Stories
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                              <a class="dropdown-item" href="{{ url_for('story1') }}">What's Happening?</a>
                              <a class="dropdown-item" href="{{ url_for('story2') }}">Where is it?</a>
                              <a class="dropdown-item" href="{{ url_for('story3') }}">Needs vs Subsidies vs Realities</a>
                              <a class="dropdown-item" href="{{ url_for('story4') }}">Your Neighborhood</a>
                          </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Building Consulting Services
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ url_for('tool') }}">Building Tool</a>
                        <a class="dropdown-item" href="{{ url_for('samplesite1') }}">Proposed Building Site 1</a>
                        <a class="dropdown-item" href="{{ url_for('samplesite2') }}">Proposed Building Site 2</a>
                        <a class="dropdown-item" href="{{ url_for('samplesite3') }}">Proposed Building Site 3</a>
                    </div>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{{ url_for('about') }}">About AAHA Building Corp</a>
                  </li>
                </ul>
                <a class="navbar-brand" href="{{ url_for('index') }}" style="color: #F1C40F ;">AAHA Analytics</a>
              </div>
              
            </nav>
            <!-- Nav end-->
            <!-- Beginning container-->
            <div class="container-fluid">
              <div class="row">
                <div class="col-12 jumbotron text-center jumbotron-fluid bg-warning">
                  <h1>Achieving Affordable Housing in Atlanta</h1>
                  <p style="color: white;">Use the interactive charts below to explore the dataset</p>
                </div>
              </div>
            </div>

                            </div>
                    

                <div class="container">
                  <div class="row">
                      <div class="col-12">    
<div class="card-deck">
  <div class="card">
    <a href="{{ url_for('story1') }}"><img  src="{{ url_for('static', filename='images/story1.png') }}" class="card-img-top" alt="..."></a>
    <div class="card-body">
      <h5 class="card-title">What's Happening?</h5>
      <p class="card-text">We take a deep visual dive into the current affordable housing situation in Metro Atlanta.</p>

    </div>
  </div>
  <div class="card">
    <a href="{{ url_for('story2') }}"><img  src="{{ url_for('static', filename='images/story2.png') }}" class="card-img-top" alt="..."></a>
    <div class="card-body">
      <h5 class="card-title">Where is it?</h5>
      <p class="card-text">We identify areas of Metro Atlanta and which income groups are more likely to be rent burdened.</p>

    </div>
  </div>
  <div class="card">
    <a href="{{ url_for('story3') }}"><img  src="{{ url_for('static', filename='images/story3.png') }}" class="card-img-top" alt="..."></a>
    <div class="card-body">
      <h5 class="card-title">Needs vs Subsidies vs Realities</h5>
      <p class="card-text">We take a wider view into identifying the needs, delve into what the current available subsidies are and finally analize what the realities of those subsidies are.</p>

    </div>
  </div>
  <div class="card">
    <a href="{{ url_for('story4') }}"><img  src="{{ url_for('static', filename='images/story4.png') }}" class="card-img-top" alt="..."></a>
    <div class="card-body">
      <h5 class="card-title">Your Neighborhood</h5>
      <p class="card-text">This interactive map allows you to search for your own neighborhood and see what rent burdens surround you.</p>

    </div>
  </div>
</div>


    </div>
  </div>
                <div class="container-fluid" style="margin: 40px;">
                  <div class="row">
                      <div class="col-12">   
                        <p>
                          
                          <h3>Why we do what we do: </h3> <br>

                          Affordable housing is a crisis here in our great city of Atlanta, that has produced economic down stream symptoms
                          This can ultimately effect the overall individual tax contributors and families of the city. Further, the growth of small businesses 
                          and major corporations that are currently in Atlanta or who may choose to move here in the future may be affected as well. 
                          As one of our most effective tools and services, research & analytics offer insights into the mechanics of life's many questions 
                          surrounding how to mitigate of end this crisis. This is why we make it our business to help 
                          bring direction and light to the ever growing needs surrounding affordable housing in the city of Atlanta.   <br>

                          <h3>Our Mission: </h3><br>

                          The AAHA Analytics Firm and Family has recognized a social gap in affordable housing and has decided to 
                          address this need and help those that have identified similar needs and opportunities. 
                          by becoming the AAHA Building Corp, bringing to reality needed housing for the people in our 
                          city where they need it, with the features they need, at a price they can afford.   
                          The AAHA team has created a machine learning application to predict what the fair market rent 
                          should be anywhere in the metro Atlanta area, and the number of bedrooms needed for the demographics.  
                          We have analyzed the area median income(AMI) and have proposed rent at no more than 50% of the AMI for that census tract.  
                          We can then identify how much of a subsidy is needed for that development so that we can submit the affordable housing plan to 
                          the proper agencies for review.   Since this will give us, as a builder, a very reliable and informative tool for where and 
                          what to build, we also want to share our model with the public so that more affordable housing can be built to finally 
                          improve the housing crisis in our hometowns.

                  
                          <h3>Our Services:</h3>
                          The team will use this as an input to other models where we will look at the area median income and whether there is a gap.  
                          We will calculate what the needed subsidy would be in order for AAHA Building Corp to actually build housing that is affordable 
                          in that area.   
                          </p>
					            </div>
                    </div>
                  </div>
</div>

            
   <!-- end container-->
     <!-- Footer container-->
		<div class="container-fluid " style="background-color: #f2f2f2; height: 100px; padding: 20px;">
        <div class="row infoarea">
          <div class="col-6" style="text-align: center;">
            <span style="color: #2874A6 ;">Copyright Info © 2019 AAHA Analytics Firm</span>
          </div>
          <div class="col-6">
            <span class="align-content-start" style="color: #2874A6 ;">Media:</span> <br>
            <a class="social" href="#" style="color: #F1C40F;">@Facebook</a>
            <a class="social" href="#" style="color: #F1C40F;">@GitHub</a>
            <a class="social" href="#" style="color: #F1C40F;">@Twitter</a>
          </div>
        </div>
  
      </div>
      <!-- Footer end-->         

  <!-- <script src="https://cdn.plot.ly/plotly-1.31.2.min.js"></script> -->
  <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>-->


  <script src="{{ url_for('static', filename='js/config.js') }}"></script>	
  <script src="{{ url_for('static', filename='js/maplogic.js') }}"></script>



  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.12.0/d3.min.js"></script>       
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>   
</body>

</html>
